/* HeroesComponent's private CSS styles */
body{
  background-color: purple;
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .heroes {
    font-size:18px;
    margin: 0 0 0 0;
    list-style-type: none;
    padding: 0;
    width: 500px;
  }
  .heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: rgb(225, 188, 255);
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 400px;
  }
  .heroes li.selected:hover {
    background-color: rgb(175, 175, 175) !important;
    color: white;
  }
  .heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .heroes .text {
    position: relative;
    top: 0px;
  }
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: rgb(255, 255, 255);
    padding: 0.8em 0.7em 0 0.7em;
    background-color: rgb(0, 0, 0);
    line-height: 1em;
    position: relative;
    left: -50px;
    top: -4px;
    height: 1.8em;
    margin-right: 0;
    border-radius: 4px 0 0 4px;
  }